<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Timetable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div class="col-lg-10 mt-5 mb-5">-->
<!--            <table id="example" class="table table-bordered" style="width: 100%">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Name</th>-->
<!--                    <th>Description</th>-->
<!--                    <th>Wednesday</th>-->
<!--                    <th>Thursday</th>-->
<!--                    <th>Friday</th>-->
<!--                    <th>Saturday</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="eventTo : ${eventsTos}">-->
<!--                    <td th:text="${eventTo.name}">Name</td>-->
<!--                    <td></td>-->
<!--                    <td th:text="${eventTo.description}">Wednesday</td>-->
<!--&lt;!&ndash;                    <td th:text="${#dates.format(event.startDate, 'dd.MM.yyyy')}">Start date</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td th:text="'$' + ${#numbers.formatDecimal(employee.salary, 0, 'COMMA', 2, 'POINT')}">Salary</td>&ndash;&gt;-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->

<!--&lt;!&ndash;            <nav aria-label="Page navigation" class="paging">&ndash;&gt;-->
<!--&lt;!&ndash;                <ul class="pagination" th:if="${employees.page.totalPages > 1}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item" th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="page-link" th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber - 1}}"&ndash;&gt;-->
<!--&lt;!&ndash;                           tabindex="-1">Previous</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <th:block th:each="item : ${employees.paging.getItems()}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="page-item" th:classappend="${item.index == employees.paging.pageNumber? 'active' : ''}"&ndash;&gt;-->
<!--&lt;!&ndash;                            th:if="${item.pageItemType.name() == 'PAGE'}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"&ndash;&gt;-->
<!--&lt;!&ndash;                               th:text="${item.index}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">&ndash;&gt;-->
<!--&lt;!&ndash;                            <a class="page-link" href="#">...</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="page-item" th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a class="page-link" th:href="@{'/?pageNumber=' + ${employees.paging.pageNumber + 1}}">Next</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            </nav>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
<!--    <div class="timetable-img text-center">-->
<!--        <img src="img/content/timetable.png" alt="">-->
<!--    </div>-->
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">Time</th>
                <th class="text-uppercase">
                    Monday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(0)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Tuesday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(1)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Wednesday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(2)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Thursday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(3)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Friday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(4)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Saturday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(5)}"> Date </div>
                </th>
            </tr>
            </thead>
            <tbody>

                <tr th:each="hour : ${eventsPerHoursWeek.keySet()}">

<!--                    TIME COLUMN-->
                    <td class="align-middle" th:text="${hour}">TIME</td>

                    <th:block th:if="${eventsPerHoursWeek.get(hour).isEmpty == true}">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </th:block>

                    <th:block th:unless="${eventsPerHoursWeek.get(hour).isEmpty == true}">

                        <th:block th:each="eventTos : ${eventsPerHoursWeek.get(hour)}">

<!--                            <th:block th:each="eventTo : ${eventTos}">-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 2}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 2}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 3}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 3}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 4}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 4}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 5}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 5}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 6}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 6}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->

<!--                                <td th:if="${eventTo.getDayOfWeek() == 7}">-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                    <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                    <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                </td>-->
<!--                                <td th:unless="${eventTo.getDayOfWeek() == 7}">-->
<!--                                    &lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </td>-->
<!--                        </th:block>-->

                            <th:block th:each="eventTo : ${eventTos}">

                                <th:block th:switch="${eventTo.getDayOfWeek()}">
                                    <th:block th:case="2">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case="3">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case="4">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case="5">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case="6">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case="7">
                                        <td>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>
                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>
                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>
                                        </td>
                                    </th:block>
                                    <th:block th:case=null>
                                        <td>
<!--                                            <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                            <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                            <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
                                        </td>
                                    </th:block>
                                </th:block>

<!--                                &lt;!&ndash;                    MONDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 2}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 2}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

<!--                                &lt;!&ndash;                    TUESDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 3}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 3}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

<!--                                &lt;!&ndash;                    WEDNESDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 4}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 4}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

<!--                                &lt;!&ndash;                    THURSDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 5}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 5}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

<!--                                &lt;!&ndash;                    FRIDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 6}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 6}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

<!--                                &lt;!&ndash;                    SATURDAY COLUMN&ndash;&gt;-->
<!--                                <th:block th:if="${eventTo.getDayOfWeek() == 7}">-->
<!--                                    <td>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getDescription}">Author</div>-->
<!--                                        <div STYLE="font-size:18px" th:text="${eventTo.name}">Event Name</div>-->
<!--                                        <div STYLE="font-size:14px" th:text="${eventTo.getStartAndEndTime}">Event Time</div>-->
<!--                                    </td>-->
<!--                                </th:block>-->
<!--                                <th:block th:unless="${eventTo.getDayOfWeek() == 7}">-->
<!--&lt;!&ndash;                                    <td> </td>&ndash;&gt;-->
<!--                                </th:block>-->

                            </th:block>
                        </th:block>
                    </th:block>>
                </tr>>
            </tbody>
        </table>
        <nav aria-label="Year navigation" class="paging">
            <ul class="pagination" th:if="${eventsPerHoursWeekPaged.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!eventsPerHoursWeekPaged.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${eventsPerHoursWeekPaged.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${eventsPerHoursWeekPaged.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == eventsPerHoursWeekPaged.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!eventsPerHoursWeekPaged.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${eventsPerHoursWeekPaged.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>