<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Table</title>

    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Thymeleaf - Bootstrap Timetable</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:text="${'Current user: ' + userName}"> Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">About</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Services</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Contact</a>-->
<!--                </li>-->

            </ul>
        </div>
    </div>
</nav>
<div th:marginheight="30"> </div>
<div class="container">
    <div class="timetable-img text-center">
        <img src="img/content/timetable.png" alt="">
    </div>
    <div class="table-responsive">
        <div> <input type="button" value="Add New Event" style="float: right;"> </div>
        <div th:marginheight="30"> </div>
        <table class="table table-bordered text-center">
            <thead>
            <tr class="bg-light-gray">
                <th class="text-uppercase">Time</th>
                <th class="text-uppercase">
                    Monday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(0)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Tuesday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(1)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Wednesday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(2)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Thursday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(3)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Friday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(4)}"> Date </div>
                </th>
                <th class="text-uppercase">
                    Saturday
                    <div class="margin-10px-top font-size10" th:text="${weekDates.get(5)}"> Date </div>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="hour : ${eventsPerHoursWeek.keySet()}">
                    <!--                    TIME COLUMN-->
                    <td class="align-middle" th:text="${hour}">TIME</td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[0].name ne null or eventsPerHoursWeek.get(hour)[1].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[0].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[0].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[0].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[0].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[0].name ne null and eventsPerHoursWeek.get(hour)[1].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[1].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[1].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[1].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[1].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[0].name ne null or eventsPerHoursWeek.get(hour)[1].name ne null}">

                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[2].name ne null or eventsPerHoursWeek.get(hour)[3].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[2].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[2].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[2].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[2].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[2].name ne null and eventsPerHoursWeek.get(hour)[3].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[3].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[3].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[3].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[3].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[2].name ne null or eventsPerHoursWeek.get(hour)[3].name ne null}">

                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[4].name ne null or eventsPerHoursWeek.get(hour)[5].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[4].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[4].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[4].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[4].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[4].name ne null and eventsPerHoursWeek.get(hour)[5].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[5].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[5].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[5].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[5].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[4].name ne null or eventsPerHoursWeek.get(hour)[5].name ne null}">

                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[6].name ne null or eventsPerHoursWeek.get(hour)[7].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[6].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[6].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[6].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[6].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[6].name ne null and eventsPerHoursWeek.get(hour)[7].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[1].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[7].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[7].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[7].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[6].name ne null or eventsPerHoursWeek.get(hour)[7].name ne null}">

                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[8].name ne null or eventsPerHoursWeek.get(hour)[9].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[8].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[8].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[8].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[8].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[8].name ne null and eventsPerHoursWeek.get(hour)[9].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[9].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[9].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[9].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[9].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[8].name ne null or eventsPerHoursWeek.get(hour)[9].name ne null}">

                        </th:block>
                    </td>
                    <td>
                        <th:block th:if="${eventsPerHoursWeek.get(hour)[10].name ne null or eventsPerHoursWeek.get(hour)[11].name ne null}">
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[10].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[10].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[10].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[10].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[10].name ne null and eventsPerHoursWeek.get(hour)[11].name ne null}">
                                <div> ---------- </div>
                            </th:block>
                            <th:block th:if="${eventsPerHoursWeek.get(hour)[9].name ne null}">
                                <div STYLE="font-size:18px" th:text="${eventsPerHoursWeek.get(hour)[11].name}">Event Name</div>
                                <div STYLE="font-size:14px" th:text="${eventsPerHoursWeek.get(hour)[11].getStartAndEndTime}">Event Time</div>
                                <div>
                                    <a th:href="@{/timetable/events/{id} (id=${eventsPerHoursWeek.get(hour)[11].getId()})}"> Show info </a>
                                </div>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${eventsPerHoursWeek.get(hour)[10].name ne null or eventsPerHoursWeek.get(hour)[11].name ne null}">

                        </th:block>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Year navigation" class="paging">
            <ul class="pagination" th:if="${eventsPerHoursWeekPaged.page.totalPages > 1}">
                <li class="page-item" th:classappend="${!eventsPerHoursWeekPaged.paging.isPrevEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${eventsPerHoursWeekPaged.paging.pageNumber - 1}}"
                       tabindex="-1">Previous</a>
                </li>
                <th:block th:each="item : ${eventsPerHoursWeekPaged.paging.getItems()}">
                    <li class="page-item" th:classappend="${item.index == eventsPerHoursWeekPaged.paging.pageNumber? 'active' : ''}"
                        th:if="${item.pageItemType.name() == 'PAGE'}">
                        <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${item.index}}"
                           th:text="${item.index}"></a>
                    </li>
                    <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                        <a class="page-link" href="#">...</a>
                    </li>
                </th:block>
                <li class="page-item" th:classappend="${!eventsPerHoursWeekPaged.paging.isNextEnabled()? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/timetable?pageNumber=' + ${eventsPerHoursWeekPaged.paging.pageNumber + 1}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>